=> manufaktur
1. semikonduktor
 > pembangunan
 semen beton (dari semen_beton)
 kayu (dari kayu)
 baja (dari baja)

2. mobil
 > pembangunan
 semen beton (dari semen_beton)
 kayu (dari kayu)
 baja (dari baja)

3. sepeda_motor
 > pembangunan
 semen beton (dari semen_beton)
 kayu (dari kayu)
 baja (dari baja)

4. semen_beton
 > pembangunan
 semen beton (dari semen_beton)
 kayu (dari kayu)
 baja (dari baja)

5. kayu
 > pembangunan
 semen beton (dari semen_beton)
 kayu (dari kayu)
 baja (dari baja)